{% extends "admin.twig" %}
{% block content %} 
    <br />
    <div id="div-lista-produto">
        <div class="row">
            <div class="col s12">
                <a href="{{BASE_URL}}/categorias/novo"><i class="material-icons">add_box
                    </i> Novo</a>  
            </div>
        </div>     
        <div id="table-datatables">
            <div class="row">
                <div class="col s6">
                    <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nome da categoria</th>                                    
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome da categoria</th>  
                                <th>Ação</th>
                            </tr>
                        </tfoot>
                        <tbody>                        
                            {% for cat in categorias %}                    
                                <tr>                                                   
                                    <td>{{ cat.cat_descricao }}</td>                                   
                                    <td>
                                        <a href="{{BASE_URL}}/categorias/editar/{{cat.cat_codigo}}">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a href="javascript:if(confirm('Deseja excluir esta categoria ?')) {location='{{BASE_URL}}/categorias/excluir/{{cat.cat_codigo}}';}">
                                            <i class="material-icons">delete_forever</i>
                                        </a>  
                                    </td>
                                </tr>
                            {% endfor %}                         
                        </tbody>                    
                    </table>
                    <input type="hidden" id="BASE_URL" value="{{BASE_URL}}" />
                </div>
            </div>
        </div>   
    </div>
{% endblock content %}